In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from collections import Counter
import itertools

# Probelm #3

In [3]:
data=pd.read_csv('coursera_sessions_test.txt',';',header=None)

In [6]:
data.head(8)

                                                    0        1
7                       63,68,69,70,66,61,59,61,66,68    66,63
14                            158,159,160,159,161,162      162
19                                200,201,202,203,204  201,205
34                                        371,372,371  371,373
40                                                422      422
47  463,465,466,465,19,467,464,468,469,470,471,472...  462,460
57                                    543,544,545,546      543
94  900,894,904,894,902,904,905,906,895,894,901,89...      904

In [5]:
data=data.dropna()

In [7]:
buys=[]
for i in range(0,data.shape[0]):
    buys.append([int(x) for x in data.iloc[i][1].split(',') if x.strip().isdigit()])

In [8]:
xx1=list(itertools.chain.from_iterable(buys))
freq=Counter(xx1)

In [9]:
Looks=[]
for i in range(0,data.shape[0]):
    Looks.append([int(x) for x in data.iloc[i][0].split(',') if x.strip().isdigit()])

In [10]:
xx=Looks
cc1=freq
xx2=[]
xx3=[]
for i in range(np.shape(xx)[0]):
    #print i+1
    a=sorted(set(xx[i]), key=lambda x: xx[i].index(x))
    #print a
    b=[]
    for j in range(len(a)):
        b.append([a[j],cc1[a[j]]])
    xx2.append(b)
    xx3.append(sorted(xx2[i], key=lambda tup: tup[1],reverse=True))
    #print 'merged',xx2[i]
    #print 'sorted',xx3[i]

In [11]:
sales=xx3

In [12]:
for k in [1,5]:
    p_k=0.
    r_k=0.
    numberSessions=np.shape(sales)[0]
    for i in range(numberSessions):    # loop over sessions
        salesk=[sales[i][j][0] for j in range(np.shape(sales[i])[0])][0:k] # select first k elements for i-session
        #print 'sales(k)',salesk
        tmpcount=0.
        numberPurchases=np.size(buys[i])
        for j in range(numberPurchases): # loop over purchased products
            if buys[i][j] in salesk:
                tmpcount=tmpcount+1.
        p_k=p_k+tmpcount/k
        r_k=r_k+tmpcount/numberPurchases
    p_k= p_k/(numberSessions)
    r_k=r_k/(numberSessions)
    print 'p_k',k,p_k   
    print 'r_k',k,r_k

p_k 1 0.798362892224
r_k 1 0.685627720392
p_k 5 0.248622100955
r_k 5 0.920033251112

# Problem #4

In [13]:
data=pd.read_csv('coursera_sessions_train.txt',';',header=None)

In [14]:
data.head(10)

                                        0         1
0                             0,1,2,3,4,5       NaN
1                    9,10,11,9,11,12,9,11       NaN
2                       16,17,18,19,20,21       NaN
3                          24,25,26,27,24       NaN
4     34,35,36,34,37,35,36,37,38,39,38,39       NaN
5                                      42       NaN
6                                47,48,49       NaN
7  59,60,61,62,60,63,64,65,66,61,67,68,67  67,60,63
8                             71,72,73,74       NaN
9                                76,77,78       NaN

In [15]:
data=data.dropna()

In [16]:
Looks=[]
for i in range(0,data.shape[0]):
    Looks.append([int(x) for x in data.iloc[i][0].split(',') if x.strip().isdigit()])

In [17]:
xx=Looks
cc1=freq
xx2=[]
xx3=[]
for i in range(np.shape(xx)[0]):
    #print i+1
    a=sorted(set(xx[i]), key=lambda x: xx[i].index(x))
    #print a
    b=[]
    for j in range(len(a)):
        b.append([a[j],cc1[a[j]]])
    xx2.append(b)
    xx3.append(sorted(xx2[i], key=lambda tup: tup[1],reverse=True))
    #print 'merged',xx2[i]
    #print 'sorted',xx3[i]

In [18]:
sales=xx3

In [20]:
buys=[]
for i in range(0,data.shape[0]):
    buys.append([int(x) for x in data.iloc[i][1].split(',') if x.strip().isdigit()])

In [21]:
for k in [1,5]:
    p_k=0.
    r_k=0.
    numberSessions=np.shape(sales)[0]
    for i in range(numberSessions):    # loop over sessions
        salesk=[sales[i][j][0] for j in range(np.shape(sales[i])[0])][0:k] # select first k elements for i-session
        #print 'sales(k)',salesk
        tmpcount=0.
        numberPurchases=np.size(buys[i])
        for j in range(numberPurchases): # loop over purchased products
            if buys[i][j] in salesk:
                tmpcount=tmpcount+1.
        p_k=p_k+tmpcount/k
        r_k=r_k+tmpcount/numberPurchases
    p_k= p_k/(numberSessions)
    r_k=r_k/(numberSessions)
    print 'p_k',k,p_k   
    print 'r_k',k,r_k

p_k 1 0.536862527716
r_k 1 0.459021198683
p_k 5 0.212084257206
r_k 5 0.821716411053

In [246]:
from collections import Counter
import itertools

In [247]:
xx=[[4,2,3],[3,2,4],[4,2,3],[3,2,4],[4,4,4],[2,3,2,3,5]]
xx1=list(itertools.chain.from_iterable(xx))
cc1=Counter(xx1)

In [248]:
print cc1

Counter({4: 7, 2: 6, 3: 6, 5: 1})

In [249]:
xx2=[]
xx3=[]
for i in range(np.shape(xx)[0]):
    print i+1
    a=sorted(set(xx[i]), key=lambda x: xx[i].index(x))
    print a
    b=[]
    for j in range(len(a)):
        b.append([a[j],cc1[a[j]]])
    xx2.append(b)
    xx3.append(sorted(xx2[i], key=lambda tup: tup[1],reverse=True))
    print 'merged',xx2[i]
    print 'sorted',xx3[i]

1
[4, 2, 3]
merged [[4, 7], [2, 6], [3, 6]]
sorted [[4, 7], [2, 6], [3, 6]]
2
[3, 2, 4]
merged [[3, 6], [2, 6], [4, 7]]
sorted [[4, 7], [3, 6], [2, 6]]
3
[4, 2, 3]
merged [[4, 7], [2, 6], [3, 6]]
sorted [[4, 7], [2, 6], [3, 6]]
4
[3, 2, 4]
merged [[3, 6], [2, 6], [4, 7]]
sorted [[4, 7], [3, 6], [2, 6]]
5
[4]
merged [[4, 7]]
sorted [[4, 7]]
6
[2, 3, 5]
merged [[2, 6], [3, 6], [5, 1]]
sorted [[2, 6], [3, 6], [5, 1]]

In [251]:
sales=np.array(xx3)[2:6]
print sales
buys=np.array([[2],[2],[1],[5]])
print buys

[[[4, 7], [2, 6], [3, 6]] [[4, 7], [3, 6], [2, 6]] [[4, 7]]
 [[2, 6], [3, 6], [5, 1]]]
[[2]
 [2]
 [1]
 [5]]

In [252]:
for k in [1,2]:
    p_k=0.
    r_k=0.
    numberSessions=np.shape(sales)[0]
    for i in range(numberSessions):    # loop over sessions
        salesk=[sales[i][j][0] for j in range(np.shape(sales[i])[0])][0:k] # select first k elements for i-session
        #print 'sales(k)',salesk
        tmpcount=0.
        numberPurchases=np.size(buys[i])
        for j in range(numberPurchases): # loop over purchased products
            if buys[i][j] in salesk:
                tmpcount=tmpcount+1.
        p_k=p_k+tmpcount/k
        r_k=r_k+tmpcount/numberPurchases
    p_k= p_k/(numberSessions)
    r_k=r_k/(numberSessions)
    print 'p_k',k,p_k   
    print 'r_k',k,r_k

p_k 1 0.0
r_k 1 0.0
p_k 2 0.125
r_k 2 0.25