In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [4]:
data=pd.read_csv('water.txt','\t')

In [5]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [9]:
scipy.stats.pearsonr(data['hardness'],data['mortality'])

(-0.65484862320424653, 1.0331339260349512e-08)

In [24]:
round(-0.65484862320424653,4)

-0.6548

In [10]:
scipy.stats.spearmanr(data['hardness'],data['mortality'])

SpearmanrResult(correlation=-0.63166461891665016, pvalue=4.79546153722838e-08)

In [22]:
scipy.stats.pearsonr(data['hardness'].loc[data['location']=='South'],data['mortality'].loc[data['location']=='South'])

(-0.6021532715484158, 0.0011346743048161927)

In [23]:
scipy.stats.pearsonr(data['hardness'].loc[data['location']=='North'],data['mortality'].loc[data['location']=='North'])

(-0.36859783832887177, 0.029344659047110606)

In [5]:
from sklearn.metrics import matthews_corrcoef
y_w= [203, 718]
y_m = [239, 515]
matthews_corrcoef(y_w,y_m)

1.0

In [10]:
b=203.
a=718.
d=239.
c=515.
(a*d-b*c) / ( np.sqrt( (a+b)*(a+c)*(b+d)*(c+d) ) )

0.10900237458678963

In [11]:
obs = np.array([[a, b], [c, c]])
chi2, p, dof, expected = stats.chi2_contingency(obs)
print p

NameError: name 'stats' is not defined